<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="Path" value="F:\LogPath\RssFeed.xml"/>
  <add key="Nation_RSS_FEED" value="https://nation.com.pk/rss/headlines"/>
  <add key="Samaa_RSS_FEED" value="https://www.samaa.tv/feed/"/>
  <add key="Path" value="F:\LogPath\xmlRSSFEED.xml"/>
  <add key="LogPath" value="F:\LogPath\logFile.txt"/>
</appSettings>
</configuration>